<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Cursos que impartes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- List of Sliding Items -->
  <ion-list #lista>
    <ion-item-sliding *ngFor="let curso of cursos; let i = index">
      <ion-item>
        <ion-label> {{curso.id_cursos}} - {{curso.nombre}} </ion-label>
        <ion-badge color="danger"> {{curso.asistencias}} </ion-badge>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="presentModal(i)">Ver más</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
